.header-container {
  text-align: center;
}
.sider-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

