.header-container {
  text-align: center;
}
.sider-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-card {
  margin-top: 20px;
}
.item-card .item-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-card .item-card__operations .item-card__button {
  margin-right: 10px;
}
